<h2>Administrar Cartas</h2>

<% if (locals.mensaje) { %>
    <p><strong><%= locals.mensaje %></strong></p>
<% } %>

<a href="/cartas/addCard" class="btn btn-agregar">Añadir Carta</a>

<a href="/cartas/modificarCard" class="btn btn-modificar">Modificar Carta</a>

<a href="/cartas/eliminarCarta" class="btn btn-eliminar">Eliminar Carta</a>

<form action="/cartas/eliminarCartas" method="POST" style="display: inline;">
    <button type="submit" class="btn btn-admin-red" id = "deleteButton">Eliminar TODAS las cartas</button>
</form>
  
<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Fuerza</th>
            <th>TipoCarta</th>
        </tr>
    </thead>
    <tbody>
        <% if (cartas.length > 0) { %>
            <% cartas.forEach(carta => { %>
                <tr>
                    <td><%= carta.id %></td>
                    <td><%= carta.nombre %></td>
                    <td><%= carta.fuerza %></td>
                    <td><%= carta.tipocarta %></td>
                </tr>
            <% }); %>
        <% } else { %>
            <tr>
                <td colspan="4">No hay cartas disponibles</td>
            </tr>
        <% } %>
    </tbody>
</table>
