<h2>Gestionar Tus Cartas</h2>

<% if (locals.mensaje) { %>
    <p><strong><%= locals.mensaje %></strong></p>
<% } %>

<a href="/cartas/addCard" class="btn btn-agregar">Añadir Carta</a>

<a href="/cartas/modificarCard" class="btn btn-modificar">Modificar Carta</a>

<a href="/cartas/eliminarCarta" class="btn btn-eliminar">Eliminar Carta</a>
  
<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Coleccion</th>
            <th>Rareza</th>
            <th>Vida</th>
        </tr>
    </thead>
    <tbody>
        <% if (cartas.length > 0) { %>
            <% cartas.forEach(carta => { %>
                <tr>
                    <td><%= carta.id %></td>
                    <td><%= carta.nombre %></td>
                    <!-- Se usa el enum para convertir el número en el texto -->
                    <td><%= EnumColecciones[carta.coleccion] || 'Desconocido' %></td>
                    <td><%= EnumRarezas[carta.rareza] || 'Desconocido' %></td>
                    <td><%= carta.vida %></td>
                </tr>
            <% }); %>
        <% } else { %>
            <tr>
                <td colspan="5">No hay cartas disponibles</td>
            </tr>
        <% } %>
    </tbody>
</table>
