<h2>Modificar Mazos</h2>

<form action="/mazos/modificarMazo" method="POST" id="form-seleccion">
  <fieldset>
    <% if (locals.mensaje) { %>
      <p><strong><%= locals.mensaje %></strong></p>
    <% } %>
    <legend>Datos del mazo:</legend>

    <div>
      <label for="nombre">Nombre actual:</label>
      <input type="text" id="nombre" name="nombre"  value="<%= mazo.nombre %>" readonly>
    </div>

    <div>
      <label for="nombre2">Nuevo nombre:</label>
      <input type="text" id="nombre2" name="nombre2" value="<%= mazo.nombre %>" required>
    </div>

    <div class="form-group">
      <label>Cartas (selecciona 10):</label>
      <p id="contador" class="form-hint">
        Seleccionadas: <%= cartasSeleccionadas.length %>/10
      </p>

      <div class="cartas-grid">
        <% cartas.forEach(carta => { %>
          <label class="carta-item-seleccionar">
            <input
              type="checkbox"
              name="cartas[]"
              value="<%= carta.id %>"
              <%= cartasSeleccionadas.includes(carta.id) ? 'checked' : '' %>
            >
            <img
              src="<%= carta.Imagen || 'https://i.pinimg.com/736x/b4/49/0a/b4490a5661fb671aa2c1b13daa2e7faa.jpg' %>"
              alt="<%= carta.nombre %>"
            >
            <div class="carta-info">
              <h4><%= carta.nombre %></h4>
              <p>Colección: <%= EnumColecciones[carta.coleccion] || 'N/D' %></p>
              <p>Rareza: <%= EnumRarezas[carta.rareza] || 'N/D' %></p>
              <p>Vida: <%= carta.vida %></p>
            </div>
          </label>
        <% }) %>
      </div>
    </div>

   <div class="form-group" style="margin-top: 20px;">
  <button type="submit">Guardar cambios</button>
</div>
  </fieldset>
</form>

<script src="/js/seleccionCartas.js" defer></script>

