<h2>Administrar Cartas</h2>

<% if (locals.mensaje) { %>
    <p><strong><%= locals.mensaje %></strong></p>
<% } %>

<a href="/cartas/addCard" class="btn btn-agregar">Añadir Carta</a>

<a href="/cartas/preModificarCard" class="btn btn-modificar">Modificar Carta</a>

<a href="/cartas/eliminarCarta" class="btn btn-eliminar">Eliminar Carta</a>

<form action="/cartas/eliminarCartas" method="POST" style="display: inline;">
    <button type="submit" class="btn btn-admin-red" id = "deleteButton">Eliminar TODAS las cartas</button>
</form>
  
<div class="cartas-grid">
    <% cartas.forEach(carta => { %>
      <div class="carta-item">
        <img
          src="<%= carta.Imagen || 'https://i.pinimg.com/736x/b4/49/0a/b4490a5661fb671aa2c1b13daa2e7faa.jpg' %>"
          alt="<%= carta.nombre %>"
        >
  
        <!-- overlay oculto hasta hover -->
        <div class="carta-info">
          <h4><%= carta.nombre %></h4>
          <p>Colección: <%= EnumColecciones[carta.coleccion] || 'N/D' %></p>
          <p>Rareza: <%= EnumRarezas[carta.rareza] || 'N/D' %></p>
          <p>Vida: <%= carta.vida %></p>
        </div>
      </div>
    <% }) %>
  </div>