<h2>Administrar Usuarios</h2>

<% if (locals.mensaje) { %>
    <p><strong><%= locals.mensaje %></strong></p>
<% } %>

<a href="/usuarios/addUser" class="btn btn-crear">Crear un nuevo usuario</a>

<a href="/usuarios/modifyUser" class="btn btn-modificar">Modificar Usuario</a>

<a href="/usuarios/eliminate" class="btn btn-eliminar">Eliminar Usuario</a>

<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Usuario</th>
            <th>Nombre</th>
            <th>TipoUsuario</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        <% if (usuarios.length > 0) { %>
            <% usuarios.forEach(user => { %>
                <tr>
                    <td><%= user.id %></td>
                    <td><%= user.username %></td>
                    <td><%= user.nombre %></td>
                    <td><%= user.rol %></td>
                    <td><%= user.email %></td>
                </tr>
            <% }); %>
        <% } else { %>
            <tr>
                <td colspan="5">No hay usuarios disponibles</td>
            </tr>
        <% } %>
    </tbody>
</table>
