<form action="/cartas/modificarCard" method="POST" enctype="multipart/form-data">
  <fieldset>
    <% if (locals.mensaje) { %>
      <p><strong><%= locals.mensaje %></strong></p>
    <% } %>
    <legend>Modificar carta</legend>
    
    <div>
      <label for="nombre">Nombre:</label>
      <input type="text" id="nombre" name="nombre" required
      value="<%= carta.nombre %>" readonly>
    </div>
    
    <div>
      <label for="nombre">Nuevo Nombre:</label>
      <input type="text" id="nombre2" name="nombre2" required
      value="<%= carta.nombre %>" value="<%= carta.nombre %>">
    </div>

    <div>
      <label>
        <input type="radio" name="rareza" value="1"
        <%= carta.rareza == 1 ? 'checked' : '' %>> Común
      </label>
      <label>
        <input type="radio" name="rareza" value="2"
        <%= carta.rareza == 2 ? 'checked' : '' %>> Rara
      </label>
      <label>
        <input type="radio" name="rareza" value="3"
        <%= carta.rareza == 3 ? 'checked' : '' %>> Épica
      </label>
      <label>
        <input type="radio" name="rareza" value="4"
        <%= carta.rareza == 4 ? 'checked' : '' %>> Legendaria
      </label>
    </div>

    <div>
      <label for="vida">Vida:</label>
      <input type="number" id="vida" name="vida" required min="1" max="1000"
      value="<%= carta.vida %>">
    </div>
    
    <label for="ImagenActual">Imagen Actual</label>
    <img
      id="preview"
      src="<%= carta.Imagen || 'https://i.pinimg.com/736x/b4/49/0a/b4490a5661fb671aa2c1b13daa2e7faa.jpg' %>"
      alt="Imagen de la carta"
      width="200"
    >

    <div>
      <label for="imagen">Nueva imagen:</label>
      <input type="file" id="imagen" name="imagen" accept="image/*">
    </div>

    <div>
      <button type="submit">Modificar Carta</button>
    </div>
  </fieldset>
</form>

<script src="/js/ImagenModificar.js" defer></script>